<div class="content_post";>
          <%= form_for (@blog) do |f| %>
          <div style="margin: 8px 0">
          <div class="col-lg-6">
          <br>ニックネーム</br>
          <%= current_user.nickname %>
           <br> </br>
           <br>ハワイの画像のURL</br>
         <%= f.text_field :image, placeholder: '必ずハワイの画像のURLを貼ってね！', style: 'width: 1000px;height: 20px;' %>
        </div>
        <br>投稿内容</br>
            <%= f.text_area :text, placeholder: 'ブログを書いてね！', style: 'width: 1000px;height: 300px;' %>
          </div>
          <div class="row">
            <div class="col10 push1">
              <%= button_tag type: "submit", class: "btn btn--block" do %>
              投稿する
              <% end %>
            </div>
          </div>
          <% end %>